div#splashpagecontent {
	width: 100%;
}

div#leftside {
	width: 35%;
	float: left;
}

div#rightside {
	width: 60%;
	float: right;
}

h1#page-title {
	display:none;
}

.breadcrumb {
	display: none;
}

div#banner-container {
	padding-left: 10%;
	padding-right: 10%;
}

div#splashnav {
	width: 100%;
	padding-top:3em;
	padding-bottom: 10em;
	display: inline
}

div#splashintro {
	width: 30%;
	float: left;
	display: inline;
}

div#splashbrowse {
	width: 30%;
	display: inline;
	float: left;
}

div#splashsearch {
	width: 30%;
	float: right;
	display: inline;
}

div#region-splashsearch {
	float: right;
}

/* Added by Mark to Style Search */
input#edit-collection-query-term {
	display: inline;
}

select#edit-collection-select {
	width: 40%;
	float: left;
}

input#edit-collection-query-term {
	width: 30%;
}

div#region-splashbanner {
	margin-bottom: 1em;
}

select#edit-collection-select {
	margin-right:1em;
}

a#splashintrotext {
	font-weight: bold;
	font-size: 1.5em;
}

a#splashbrowsetext {
	font-weight: bold;
	font-size: 1.5em;
}

